.roadmap {
    width: 98vw;
    height: 100vh;
    background-image: url("../../image/roadmap/mapBac.png");
    background-repeat: no-repeat;
    background-size: 85vw;
    background-position: top 15vh left 7.5vw;
    position: relative;
    user-select: none;
}

.roadmap-title {
    position: absolute;
    color: #fff;
    font-size: 4vw;
    top: 5vh;
    right: 15vw;
}

.roadmap-img {
    position: absolute;
    left: 15vw;
    top: 15vh;
    width: 74vw;
}

.map-content-item > div {
    position: absolute;
    color: #ccc;
    font-family: SourceHanSansCN-Light;
    font-size: 1vw;
}

.text {
    width: 15vw;
    top: 27vh;
    left: 10vw;
}

.text2 {
    top: 20vh;
    left: 38vw;
    width: 20vw;
}

.text3 {
    width: 15vw;
    top: 48vh;
    left: 16vw;
}

.text4 {
    top: 42vh;
    left: 55vw;
}

.text5 {
    top: 60vh;
    left: 66vw;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .roadmap {
        height: 120vh;
    }

    .roadmap-title {
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
        font-size: 12vw;
    }

    .roadmap-img {
        transform: rotate(-90deg);
        transform-origin: 0 0;
        height: 100vw;
        width: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 105vh;
    }

}

