.team {
    width: 100%;
    height: 100vh;
    font-family: 'SourceHanSansCN-Normal';
    position: relative;
}

.team-title {
    position: relative;
    left: 12vw;
    top: 10vh;
    width: fit-content;
}

.team-title-img {
    width: 10vw;
}

.team-title-img > img {
    width: 100%;
}

.team-title-text {
    color: #fff;
    font-size: 4vw;
    position: absolute;
    bottom: 10vh;
    left: 3vw;
    font-weight: 550;
}

.team-row-container {
    position: relative;
    top: -12vh;
}

.team-row {
    width: 45%;
    margin-left: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    margin-bottom: 2.5vh;
}

.team-row2 {
    top: 5vh;
    width: 61.5vw;
    margin-left: 22vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

}

.team-item {
    width: 10vw;
    font-family: SourceHanSansCN-Light;
    z-index: 2;
}

.team-item-img {
    height: 23vh;
}

.team-item-img > img {
    height: 100%;
}

.position {
    color: #808080;
    margin-top: 1vh;
    font-size: 1vw;
    width: 120%;
}

.introduce {
    position: relative;
    color: #808080;
    width: 25vw;
    font-family: SourceHanSansCN-Light;
    font-size: 1.2vw;
    top: 8vh;

}

.team-item-name {
    color: #808080;
    font-size: 1vw;
}

.linkin {
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
}

.linkin > a {
    color: #fff;
    display: flex;
    align-items: center;
}

.linkin > a > img {
    width: 2rem;
    margin-right: 0.5rem;
}

.linkin > a:hover {
    color: #fff;
}

.team-ring {
    width: 100vh;
    height: 100vh;
    background: url("../../image/team/team-ring.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: -40vh;
    transform: rotate(-5deg);
    z-index: 1;

}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .team {
        height: fit-content;
        position: relative;
        margin-bottom: 30vh;
    }

    .team-ring {
        display: none;
    }

    .team-row, .team-row2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100vw;

        position: relative;
        top: 20vh;
        height: fit-content;
    }

    .team-item {
        width: 60vw;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 6vh;
    }

    .team-title {
        width: 80vw;
        margin: 0;
        height: fit-content;
    }

    .team-title-text {
        position: relative;
        left: 8vw;
        top: -2.6vh;
        width: fit-content;
        margin: 0;
        font-size: 12vw;
    }

    .team-title-img {
        position: relative;
        top: 12vw;
        width: 28vw;
    }

    .position {
        width: fit-content;
    }

    .introduce {
        width: 100%;
        margin: 0 auto;
        top: 0;
        font-size: 5vw;
    }

    .team-row-container {
        position: relative;
        top: 0;
    }

    .position, .team-item-name {
        font-size: 4.5vw;
    }
}
