.foot {
    height: 500px;
    font-family: 'AvenirNext';
}
.foot-text {
    width: 496px;
    text-align: center;
    color: #8E8E8E;
    font-size: 20px;
    margin-left: calc((100% - 496px) / 2);
}
.foot-content {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: calc((100% - 300px) / 2);
    margin-top: 50px;
}
.footContent-item {
    width: 40px;
}
.footContent-item > a > img {
    width: 100%;
}
.footLogo {
    width: 220px;
    margin-top: 100px;
    margin-left: calc((100% - 220px) / 2);
}
.footLogo > img {
    width: 100%;
}
.footLogoText {
    font-size: 14px;
    text-align: center;
    color: #8E8E8E;
    margin-top: 20px;
}
@media screen and (max-width: 900px){
    .foot-text{
        width: 80%;
        font-size: 14px;
        margin:0 auto;
    }
}