.foot {
    height: 70vh;
    font-family: 'AvenirNext';
}
.foot-text {
    width: 49.6rem;
    text-align: center;
    color: #8E8E8E;
    font-size: 2rem;
    margin-left: calc((100% - 49.6rem) / 2);
}
.foot-content {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    margin-left: calc((100% - 30rem) / 2);
    margin-top: 20vh;
}
.footContent-item {
    z-index: 9999;
    width: 4rem;
}
.footContent-item > a > img {
    width: 100%;
}
.footLogo {
    width: 30rem;
    margin-top: 10vh;
    margin-left: calc((100% - 30rem) / 2);
}
.footLogo > img {
    width: 100%;

}
.footLogoText {
    font-size: 1.4rem;
    text-align: center;
    color: #8E8E8E;
    margin-top: 2rem;
    font-family: SourceHanSansCN-Light;
}
@media screen and (max-width: 1000px){
    .foot-text{
        width: 80%;
        font-size: 1.4rem;
        margin:0 auto;
    }
}
