.kind {
    width: 100%;
    height: 1000px;
    background: url("../../image/kind/kindBac.png") no-repeat;
    background-size: 90%;
    background-position: top 30px left 0;
    position: relative;
    font-family: 'AvenirNext';
}
.kind-title {
    width: 500px;
    position: absolute;
    right: 0;
}
.kind-titleImg {
    width: 150px;
}
.kind-titleImg > img {
    width: 100%;
}
.kind-title-text {
    color: #fff;
    font-size: 64px;
    font-weight: bolder;
    position: absolute;
    top: 50px;
    left: -80px;
}
.kindBacBall {
    width: 200px;
    position: absolute;
    top: 100px;
    left: 23%;
    animation: spin 10s infinite linear
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
.kindBacBall > img {
    width: 100%;
}
.kindsList{
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: 450px;
    height: 348px;
    overflow: hidden;
}

.kindsList .kindRowup{
    -webkit-animation: 15s rowup linear infinite normal;
    animation: 15s rowup linear infinite normal;
    position: relative;
    display: flex;
}
.kindItemImg {
    height: 280px;
    background: #999999;
}
.kindItemImg > img {
    height: 100%;
}
.kindItemTitle {
    width: 100%;
    height: 78px;
    background: url("../../image/kind/kindItemTitleImg.png") no-repeat;
    background-size: 100% 100%;
    color: #9E9D9E;
    font-size: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .kind-titleImg {
        position: absolute;
        left: 150px;
    }
    .kind-title-text{
        font-size: 48px;
        left: 150px;
    }
    .kindBacBall{
        top:50px;
        left: 10%;
    }
}

@media screen and (max-width: 900px) {
    .kind {
        width: 100%;
        height: 700px;
        background: url("../../image/kind/kindBac.png") no-repeat;
        background-size: 90%;
        background-position: top 30px left 0;
        position: relative;
        font-family: 'AvenirNext';
    }
    .kind-title {
        width: 200px;
        position: absolute;
        right: 1%;
    }
    .kind-titleImg {
        width: 100px;
        position: absolute;
        left: 0;
    }
    .kind-titleImg > img {
        width: 100%;
    }
    .kind-title-text {
        color: #fff;
        font-size: 28px;
        font-weight: bolder;
        position: absolute;
        top: 60px;
        left: 5%;
    }
    .kindBacBall {
        width: 120px;
        position: absolute;
        top: 40px;
        left: 5%;
        animation: spin 10s infinite linear
    }
    .kindBacBall > img {
        width: 100%;
    }
    .kindsList{
        width: 100%;
        margin: 20px auto;
        position: absolute;
        top: 270px;
        height: 220px;
        overflow: hidden;
    }

    .kindsList .kindRowup{
        -webkit-animation: 15s rowup linear infinite normal;
        animation: 15s rowup linear infinite normal;
        position: relative;
        display: flex;
    }
    .kindItemImg {
        height: 160px;
        background: #999999;
    }
    .kindItemImg > img {
        height: 100%;
    }
    .kindItemTitle {
        width: 100%;
        height: 60px;
        background: url("../../image/kind/kindItemTitleImg.png") no-repeat;
        background-size: 100% 100%;
        color: #9E9D9E;
        font-size: 14px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 
}