.mission {
    width: 100%;
    height: 1000px;
    background: url("../../image/mission/missionBac.png") no-repeat center;
    background-size: 100% 100%;
    font-family: 'AvenirNext';
    position: relative;
}
.mission-title {
    position: absolute;
    left: 10%;
    top: 100px;
}
.mission-titleImg {
    width: 400px;
    position: relative;
}
.mission-titleImg > img:nth-of-type(1) {
    position: absolute;
    top: 180px;
    left: 130px;
    width: 80px;
}
.mission-titleImg > img:nth-of-type(2) {
    position: absolute;
    top: 0;
    width: 100%;
}
.mission-title-text {
    width: 500px;
    position: absolute;
    top: 250px;
    left: 21%;
}
.mission-title-text > div:nth-of-type(1) {
    font-size: 64px;
    color: #fff;
}
.mission-title-text > div:nth-of-type(2) {
    font-size: 22px;
    color: #808080;
    margin-top: 61px;
}
.mission-title-text > div:nth-of-type(3) {
    font-size: 22px;
    color: #808080;
    margin-top: 40px;
}
.missionImg {
    width: 633px;
    height: 677px;
    background: url("../../image/mission/missionImg.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 10%;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.missionImg > img {
    width: 80%;
}
@media screen and (max-width: 1150px) {
    .mission-title-text > div:nth-of-type(1) {
        font-size: 48px;
     
    }
    .mission-title-text > div:nth-of-type(2) {
        font-size: 18px;
    }
    .mission-title-text{
        left: 5%;
    }
    .missionImg {
        width: 480px;
        height: 580px;
        right: 5%;
       
    }
}
@media screen and (max-width: 1000px) {
    .mission {
        width: 100%;
        height: 600px;
        background: url("../../image/mission/missionBac.png") no-repeat center;
        background-size: 100% 100%;
        font-family: 'AvenirNext';
        position: relative;
    }
    .mission-title {
        position: absolute;
        left: 5%;
        top: 0;
    }
    .mission-titleImg {
        width: 200px;
        position: relative;
    }
    .mission-titleImg > img:nth-of-type(1) {
        position: absolute;
        top: 90px;
        left: 60px;
        width: 40px;
    }
    .mission-titleImg > img:nth-of-type(2) {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .mission-title-text {
        width: 300px;
        position: absolute;
        top: 120px;
        left: 21%;
    }
    .mission-title-text > div:nth-of-type(1) {
        font-size: 28px;
        color: #fff;
    }
    .mission-title-text > div:nth-of-type(2) {
        font-size: 16px;
        color: #808080;
        margin-top: 61px;
    }
    .mission-title-text > div:nth-of-type(3) {
        font-size: 16px;
        color: #808080;
        margin-top: 40px;
    }
    .missionImg {
        width: 330px;
        height: 243px;
        background: url("../../image/mission/missionImg.png") no-repeat;
        background-size: 70%;
        background-position: top 50% left 50%;
        position: absolute;
        right: calc((100% - 600px) / 2);
        top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .missionImg > img {
        width: 70%;
    }

}
@media screen and (max-width: 750px) {
    .mission{
        height: 900px;
    }
    .missionImg{
        right: calc((100% - 330px) / 2);
        top: 500px;
    }
}