.mission {
    width: 100%;
    height: 100vh;
    background: url("../../image/mission/missionBac.png") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}

.mission-title {
    position: absolute;
    left: 10vw;
    top: 11vh;
}

.mission-title-img {
    position: relative;
    top: 10vh;
    width: 6.6vw;
}

.mission-title-text {
    width: 31vw;
    position: absolute;
    top: 22vh;
    left: 3.6vw;
    font-family: SourceHanSansCN-Bold;
    font-size: 4.5vw;
    color: #fff;
    font-weight: 600;
    z-index: 9;
}

.mission-content {
    position: relative;
    top: 12vh;
    left: 9.6vw;
    width: 31vw;
    font-size: 1.6vw;
    font-family: 'SourceHanSansCN-Light';
    line-height: 5vh;
    color: #808080;
    margin-top: 5vh;
}

.mission-img {
    width: 47vw;
    height: 47vw;
    background-size: 100% 100%;
    position: absolute;
    right: 4vw;
    top: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-img > img {
    width: 80%;
    animation: spin 30s infinite linear;
    z-index: 5;
}

.ring {
    height: 90vh;
    transform: rotate(-6deg);
    position: absolute;
    top: 4vh;
    right: 5vw;
    z-index: 5;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .mission {
        height: 120vh;
    }

    .mission-title {
        position: relative;
        top: 10vh;
        left: 0;
        margin: 0 10vw;
        width: 20vw;
        height: 24vw;
    }

    .mission-title-text {
        font-size: 9vw;

        position: absolute;
        top: 5vw;
        left: 5vw;
    }

    .mission-title-img {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 9vw;
    }

    .mission-content {
        position: relative;
        width: 80%;
        left: 0;
        top: 15vh;
        margin: 0 auto;
        line-height: 12vw;
        font-size: 6vw;
    }

    .mission-img {
        top: 150vw;
        left: 0;
        width: 100vw;
    }

    .mission-img > img {
        animation: none;
        width: 100vw;
    }

}
