.mission {
    width: 100%;
    height: 100rem;
    background: url("../../image/mission/missionBac.png") no-repeat center;
    background-size: 100% 100%;
    font-family: 'AvenirNext';
    position: relative;
}
.mission-title {
    position: absolute;
    left: 10%;
    top: 30rem;
}
.mission-titleImg {
    width: 40rem;
    position: relative;
}
.mission-titleImg > img:nth-of-type(1) {
    position: relative;
    top: 18rem;
    left: 5rem;
    width: 8rem;
}
.mission-titleImg > img:nth-of-type(2) {
    position: absolute;
    top: 0;
    width: 100%;
}
.mission-title-text {
    width: 50rem;
    position: absolute;
    top: 25rem;
    left: 21%;
}
.mission-title-text > div:nth-of-type(1) {
    font-size: 6.4rem;
    color: #fff;
}
.mission-title-text > div:nth-of-type(2) {
    font-size: 2rem;
    font-family: 'SourceHanSansCN-Light';
    line-height: 4rem;
    color: #808080;
    margin-top: 6.1rem;
}
.mission-title-text > div:nth-of-type(3) {
    font-size: 2.6rem;
    color: #808080;
    margin-top: 4rem;
}
.missionImg {
    /*width: 70rem;
    height: 70rem;*/
    width: 45%;
   /* background: url("../../image/mission/missionImg.png") no-repeat;*/
    background-size: 100% 100%;
    position: relative;
    top: 30rem;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ring >img {
    transform: rotate(-6deg);
    position: absolute;
    top: 80%;
    left: 35%;
    height: 100%;
}

@media screen and (max-width: 1150px) {
    .mission-title-text > div:nth-of-type(1) {
        font-size: 48px;

    }
    .mission-title-text > div:nth-of-type(2) {
        font-size: 18px;
    }
    .mission-title-text{
        left: 5%;
    }
    .missionImg {
        width: 480px;
        height: 580px;
        right: 5%;

    }
}
@media screen and (max-width: 1000px) {
    .mission {
        width: 100%;
        height: 600px;
        background: url("../../image/mission/missionBac.png") no-repeat center;
        background-size: 100% 100%;
        font-family: 'AvenirNext';
        position: relative;
    }
    .mission-title {
        position: absolute;
        left: 5%;
        top: 0;
    }
    .mission-titleImg {
        width: 200px;
        position: relative;
    }
    .mission-titleImg > img:nth-of-type(1) {
        position: absolute;
        top: 90px;
        left: 60px;
        width: 40px;
    }
    .mission-titleImg > img:nth-of-type(2) {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .mission-title-text {
        width: 300px;
        position: absolute;
        top: 120px;
        left: 21%;
    }
    .mission-title-text > div:nth-of-type(1) {
        font-size: 28px;
        color: #fff;
    }
    .mission-title-text > div:nth-of-type(2) {
        font-size: 16px;
        color: #808080;
        margin-top: 61px;
    }
    .mission-title-text > div:nth-of-type(3) {
        font-size: 16px;
        color: #808080;
        margin-top: 40px;
    }
    .missionImg {
        width: 330px;
        height: 243px;
        /*
        background: url("../../image/mission/missionImg.png") no-repeat;
        */
        background-size: 70%;
        background-position: top 50% left 50%;
        position: absolute;
        right: calc((100% - 600px) / 2);
        top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .missionImg > img {
        width: 70%;
    }

}
@media screen and (max-width: 750px) {
    .mission{
        height: 900px;
    }
    .missionImg{
        right: calc((100% - 330px) / 2);
        top: 500px;
    }
}

.missionImg {

    animation: spin 10s infinite linear;
    z-index: 5;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
.missionImg > img {
    width: 100%;
}
