.App {
    background: #000000;
    overflow-x: hidden;
}

@media screen and (max-width: 1150px) {
    .menu{
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px) {
    .menu {
        font-family: 'AvenirNext';
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }
    .logo {
        width: 100px;
    }

    .menuUl > li {
        list-style: none;
        float: left;
        margin-left: 20px;
        cursor: pointer;
    }
    .menuUl > li > a {
        color: #fff;
    }
    .menuTwitter {
        width: 20px;
    }
    .menuFly {
        width: 20px;
    }

}
@media screen and (max-width: 750px) {
    .menuUl > li {
        display: none;
    }
    .menuTwitter {
        width: 15px;
    }
    .menuFly {
        width: 15px;
        margin-left: 20px;
    }
}

@media screen and (max-device-width: 600px) {
    .App {
        width: 100%;
    }
}
