
.App {
    background: #000000;
}
.menu {
    font-family: 'AvenirNext';
    height: 13vh;
    line-height: 14rem;
    color: #fff;
    font-size: 1vw;
    font-weight: bold;
    z-index: 9999;
}

.logo {
    width: 10.5vw;
}
.menuUl > li {
    list-style: none;
    float: left;
    margin-left: 5rem;
    cursor: pointer;
    z-index: 9999;
}
.menuUl > li > a {
    color: #fff;
}
.menuTwitter {
    width: 2.5rem;
}
.menuFly {
    width: 2.5rem;
    margin-left: 3rem;
}
@media screen and (max-width: 1150px) {
    .menu{
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px) {
    .menu {
        font-family: 'AvenirNext';
        height: 40px;
        line-height: 40px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
    }
    .logo {
        width: 100px;
    }

    .menuUl > li {
        list-style: none;
        float: left;
        margin-left: 20px;
        cursor: pointer;
    }
    .menuUl > li > a {
        color: #fff;
    }
    .menuTwitter {
        width: 20px;
    }
    .menuFly {
        width: 20px;
    }

}
@media screen and (max-width: 750px) {
    .menuUl > li {
        display: none;
    }
    .menuTwitter {
        width: 15px;
    }
    .menuFly {
        width: 15px;
        margin-left: 20px;
    }

}
