.benefits {
    width: 100%;
    height: 100vh;
}

.benefits-title {
    color: #fff;
    font-size: 4vw;
    font-weight: bolder;
    position: absolute;
    top: 10vh;
    right: 15vw;
}

.benefits-content {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10vh;
    width: 80vw;
    margin: 0 auto;
}

.benefits-item {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

.benefits-item-img {
    width: 15vw;
}

.benefits-item-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.benefits-item-title {
    color: #fff;
    width: 100%;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'SourceHanSansCN-Bold';
    margin-bottom: 2vh;
}

.benefits-item-content-text {
    color: #808080;
    font-size: 1.2vw;
    width: 22vw;
    font-family: SourceHanSansCN-Light;
}

@media screen and (min-width: 300px) and (max-width: 1000px) {
    .benefits {
        position: relative;
        height: fit-content;
        margin-bottom: 10vh;
    }

    .benefits-title {
        margin: 20vh auto 10px auto;
        left: 0;
        top: 0;
        width: fit-content;
        position: relative;
        font-size: 12vw;
    }

    .benefits-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .benefits-item-img {
        width: 30vw;
        margin-right: 3vw;
        margin-bottom: 10vh;
        position: relative;
        top: 5px;
    }

    .benefits-content {
        position: relative;
        top: 0;
        margin: 0 auto;

        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-item-content {
        display: flex;
        flex-direction: column;
    }

    .benefits-item-title {
        font-size: 5vw;
        margin-bottom: 10px;
        text-align: left;
    }

    .benefits-item-content-text {
        font-size: 3.5vw;
    }

    .benefits-item-content > div {
        width: 100%;
    }

}

